PORT=5000
MONGO_URI=mongodb+srv://alamshams8273:chaltehai@cluster0.rjucrm7.mongodb.net/IssuHub?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=secretKey
JWT_EXPIRES_IN=7d
CLIENT_URL=http://127.0.0.1:5173
GITHUB_TOKEN=
